body,
h1,
h2,
p,
a,
input {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}
.container {
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-md-6 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.col-md-6:nth-child(1) {
    text-align: center;
}

.btn-primary {
    background-color: #1f7fe7;
    color: #fff;
    border: none;
    margin: 200px;
    font-size: 40px;
    padding: 20px 50px;
    border-radius: 60px;
    width:420px;
}

.btn-primary:hover {
    background-color: #09d15e;
}

header {
    background-color: #fff;
    color: #09d15e;
    padding: 10px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
}


header a:hover {
    color: #0056b3;
}

/* Additional styles for the header title */
header h2 {
    margin: 20px;
    font-size: 24px;
    color: #0dba4b;
}
header button {
    color: #09d15e;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 10px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
}

header button:hover {
    color: #098d2a;
}


/* Add some padding to the container on smaller screens */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header a {
        margin: 0;
    }
}
